.counter-cards{
  margin-top: 27px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-template-rows: 130px;
  gap: 27px;
  grid-auto-rows: 130px;
  width: calc(100vw - 70px - 70px);
  max-width: 1140px;
  justify-content: center;
}

.counter-cards__text{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-align: center;

  color: #FFFFFF;
  margin: 0;

}
@media (max-width: 1175px) {

}

@media (max-width: 586px) {

  .counter-cards{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: unset;
    grid-gap: unset;
  }
}
