.emailnoverified{
  font-family: Inter, Arial, sans-serif;
  width: calc(100% - 442px - 442px);
  max-width: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 160px 0 60px;
}
.emailnoverified__logo{
  justify-content: center;
  display: flex;
  transition: opacity 0.3s ease-in-out;
}
.emailnoverified__logo:hover{
  opacity: 0.8;
}
.emailnoverified__title{
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
  text-align: center;

  color: #FFFFFF;

  margin: 54px 0 0;
  padding: 0;
}
.emailnoverified__text{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;

  color: #FFFFFF;
  margin: 31px 0 0;
  padding: 0;
}
.emailnoverified__sendmail{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-align: center;
  cursor: pointer;
  color: #4285F4;
  transition: opacity, color 0.3s ease-in-out;
  margin: 24px 0 0;
  padding: 0;
}
.emailnoverified__sendmail:hover{
  opacity: 0.7;
}
.emailnoverified__sendmail_disabled{
  color: #C2C2C2;
  cursor: not-allowed;

}
.emailnoverified__sendmail_disabled:hover{
  opacity: 1;
}
.emailnoverified__refresh{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  cursor: pointer;
  text-align: center;
  transition: opacity 0.3s ease-in-out;
  color: #2BE080;
  margin: 63px 0 0;
  padding: 0;
}
.emailnoverified__refresh:hover{
  opacity: 0.7;
}

.emailnoverified__hilight-text{
  color: #4285F4;
}

.emailnoverified__exit{
  width: 100%;
  height: 45px;
  background: #FF3055;
  border-radius: 3px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  /* identical to box height */
  text-decoration: none;
  transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
  padding: 0;
  margin: 9px 0 0;
}
.emailnoverified__exit:focus {
  outline: none;
}
.emailnoverified__exit:hover {
  opacity: 0.8;
}

.emailnoverified__exit_disabled{
  background: #F8F8F8;
  color: #C2C2C2;
  cursor: not-allowed;
}
.emailnoverified__exit_disabled:hover{
  opacity: 1;
}

@media (max-width: 1175px){
  .emailnoverified{
    padding: 294px 0 0px;
    width: calc(100% - 184px - 184px);
  }
}
@media (max-width: 1050px){
  .emailnoverified{
    padding: 194px 0 0px;
    width: calc(100% - 184px - 184px);
  }
}
@media (max-width: 765px){
  .emailnoverified{
    padding: 70px 0 0px;
    width: calc(100% - 30px - 30px);
  }
  .emailnoverified__title{
    font-size: 18px;
    line-height: 22px;
  }
  .emailnoverified__text{
    font-size: 12px;
    line-height: 15px;
    text-align: left;
  }
  .emailnoverified__exit{
    font-size: 12px;
    line-height: 15px;
  }
  .emailnoverified__refresh{
    font-size: 12px;
    line-height: 15px;
  }
  .emailnoverified__sendmail{
    font-size: 12px;
    line-height: 15px;
  }
  .emailnoverified__sendmail:hover{
    opacity: 1;
  }
}
