.survey-cards{
  margin-top: 27px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-template-rows: fit-content(100px);
  gap: 27px;
  grid-auto-rows: fit-content(100px);
  width: calc(100vw - 70px - 70px);
  max-width: 1140px;
  justify-content: center;
}

.survey-cards__text{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-align: center;

  color: #FFFFFF;
  margin: 0;

}
@media (max-width: 1175px) {

}

@media (max-width: 586px) {

  .survey-cards{
    min-height: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: unset;
    grid-gap: unset;
  }
}
